# active le moteur de réécriture d'URL d'Apache
RewriteEngine on
# Ceci vérifie que le dossier (-d) ou fichier (-f) n'existe pas (dans le cas contraire il affichera le dossier/fichier) :
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
# Et ceci redirige la requête vers index.php :
RewriteRule . index.php [L]
